USE [master]
GO
/****** Object:  Database [UTESHOP]    Script Date: 10/28/2025 7:15:48 PM ******/
CREATE DATABASE [UTESHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UTESHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UTESHOP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UTESHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UTESHOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UTESHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UTESHOP]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Label] [nvarchar](60) NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[AddressLine] [nvarchar](255) NOT NULL,
	[Ward] [nvarchar](120) NULL,
	[District] [nvarchar](120) NULL,
	[City] [nvarchar](120) NULL,
	[IsDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NULL,
	[DataType] [int] NOT NULL,
	[Unit] [varchar](255) NULL,
 CONSTRAINT [PK_Attributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [varchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[ManagerId] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchInventory]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchInventory](
	[BranchId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[BranchStock] [int] NOT NULL,
 CONSTRAINT [PK_BranchInventory] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC,
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CartId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NULL,
	[Slug] [varchar](255) NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryAttributes]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryAttributes](
	[CategoryId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
	[IsFilterable] [bit] NOT NULL,
	[IsComparable] [bit] NOT NULL,
 CONSTRAINT [PK_CategoryAttributes] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC,
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionTypes]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](30) NOT NULL,
 CONSTRAINT [PK_OptionTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionValues]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OptionTypeId] [int] NOT NULL,
	[Value] [nvarchar](60) NULL,
 CONSTRAINT [PK_OptionValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderStatus] [int] NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[Subtotal] [decimal](12, 2) NOT NULL,
	[DiscountAmount] [decimal](12, 2) NOT NULL,
	[ShippingFee] [decimal](12, 2) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[VoucherCode] [varchar](255) NULL,
	[ReceiverName] [nvarchar](120) NULL,
	[Phone] [varchar](20) NOT NULL,
	[AddressLine] [nvarchar](255) NOT NULL,
	[Ward] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Note] [nvarchar](400) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[BranchId] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Method] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[TxnId] [varchar](120) NULL,
	[PaidAmount] [decimal](12, 2) NULL,
	[PaidAt] [datetime2](0) NULL,
	[ProviderRaw] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[refundTxnId] [varchar](120) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributeValues]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributeValues](
	[ProductId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
	[ValueText] [nvarchar](255) NULL,
	[ValueNumber] [decimal](18, 4) NULL,
 CONSTRAINT [PK_ProductAttr] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [varchar](255) NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Slug] [varchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[BasePrice] [decimal](12, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[Sold] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SKU] [varchar](255) NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewMedia]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[MediaUrl] [varchar](255) NOT NULL,
	[MediaType] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_ReviewMedia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[HasMedia] [bit] NOT NULL,
	[PurchaseVerified] [bit] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NULL,
	[PasswordHash] [varchar](max) NULL,
	[FullName] [nvarchar](120) NULL,
	[Phone] [varchar](255) NULL,
	[UserRole] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[ExpiredAt] [datetime2](0) NOT NULL,
	[UsedAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantOptions]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantOptions](
	[VariantId] [int] NOT NULL,
	[OptionTypeId] [int] NOT NULL,
	[OptionValueId] [int] NOT NULL,
 CONSTRAINT [PK_VariantOptions] PRIMARY KEY CLUSTERED 
(
	[VariantId] ASC,
	[OptionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](40) NOT NULL,
	[DescText] [nvarchar](255) NULL,
	[Type] [int] NOT NULL,
	[Value] [decimal](12, 2) NOT NULL,
	[TotalUsed] [int] NOT NULL,
	[MaxUses] [int] NOT NULL,
	[StartsAt] [datetime2](0) NOT NULL,
	[EndsAt] [datetime2](0) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([Id], [UserId], [Label], [FullName], [Phone], [AddressLine], [Ward], [District], [City], [IsDefault]) VALUES (1, 3, N'Nhà', N'Khách Hàng A', N'0937957236', N'123 abc', N'Phường Bến Nghé', N'Quận 1', N'Hồ Chí Minh', 1)
INSERT [dbo].[Addresses] ([Id], [UserId], [Label], [FullName], [Phone], [AddressLine], [Ward], [District], [City], [IsDefault]) VALUES (2, 8, N'Vp', N'Nguyễn Văn BC', N'0798241333', N'546 ac', N'Phường Bến Nghé', N'Quận 7', N'Đà Nẵng', 0)
INSERT [dbo].[Addresses] ([Id], [UserId], [Label], [FullName], [Phone], [AddressLine], [Ward], [District], [City], [IsDefault]) VALUES (3, 8, N'', N'Tran Trieu Duong', N'09351108112', N'Linh Chieu', N'', N'', N'Thu Duc', 1)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Attributes] ON 

INSERT [dbo].[Attributes] ([Id], [Name], [DataType], [Unit]) VALUES (1, N'Chip', 1, NULL)
INSERT [dbo].[Attributes] ([Id], [Name], [DataType], [Unit]) VALUES (2, N'RAM', 2, N'GB')
INSERT [dbo].[Attributes] ([Id], [Name], [DataType], [Unit]) VALUES (3, N'Storage', 2, N'GB')
SET IDENTITY_INSERT [dbo].[Attributes] OFF
GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [Name], [Address], [Phone], [IsActive], [ManagerId], [CreatedAt], [UpdatedAt]) VALUES (1, N'Apple Store HCM', N'01 Lê Lợi, Q.1, TP.HCM', N'0280000001', 1, 2, CAST(N'2025-10-07T14:40:06.0000000' AS DateTime2), CAST(N'2025-10-07T14:40:06.0000000' AS DateTime2))
INSERT [dbo].[Branches] ([Id], [Name], [Address], [Phone], [IsActive], [ManagerId], [CreatedAt], [UpdatedAt]) VALUES (2, N'Apple Store HN', N'01 Hai Bà Trưng, Hoàn Kiếm, HN', N'0240000001', 1, 7, CAST(N'2025-10-07T14:40:06.0000000' AS DateTime2), CAST(N'2025-10-07T14:40:06.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Branches] OFF
GO
INSERT [dbo].[BranchInventory] ([BranchId], [VariantId], [BranchStock]) VALUES (1, 1, 15)
INSERT [dbo].[BranchInventory] ([BranchId], [VariantId], [BranchStock]) VALUES (1, 2, 10)
INSERT [dbo].[BranchInventory] ([BranchId], [VariantId], [BranchStock]) VALUES (1, 3, 6)
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [VariantId], [Quantity]) VALUES (12, 1, 9, 25, 1)
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [VariantId], [Quantity]) VALUES (19, 7, 1, 3, 1)
INSERT [dbo].[CartItems] ([Id], [CartId], [ProductId], [VariantId], [Quantity]) VALUES (20, 7, 5, 17, 1)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (3, 1)
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (2, 2)
INSERT [dbo].[Carts] ([Id], [UserId]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId]) VALUES (1, N'iPhone', N'iphone', NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId]) VALUES (2, N'MacBook', N'macbook', NULL)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId]) VALUES (3, N'15 Series', N'iphone-15-series', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[CategoryAttributes] ([CategoryId], [AttributeId], [IsFilterable], [IsComparable]) VALUES (1, 1, 1, 1)
INSERT [dbo].[CategoryAttributes] ([CategoryId], [AttributeId], [IsFilterable], [IsComparable]) VALUES (1, 2, 1, 1)
INSERT [dbo].[CategoryAttributes] ([CategoryId], [AttributeId], [IsFilterable], [IsComparable]) VALUES (1, 4, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[OptionTypes] ON 

INSERT [dbo].[OptionTypes] ([Id], [Code]) VALUES (2, N'COLOR')
INSERT [dbo].[OptionTypes] ([Id], [Code]) VALUES (1, N'STORAGE')
SET IDENTITY_INSERT [dbo].[OptionTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[OptionValues] ON 

INSERT [dbo].[OptionValues] ([Id], [OptionTypeId], [Value]) VALUES (1, 1, N'128GB')
INSERT [dbo].[OptionValues] ([Id], [OptionTypeId], [Value]) VALUES (2, 1, N'256GB')
INSERT [dbo].[OptionValues] ([Id], [OptionTypeId], [Value]) VALUES (3, 1, N'512GB')
SET IDENTITY_INSERT [dbo].[OptionValues] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [VariantId], [Price], [Quantity]) VALUES (74, 56, 4, 14, CAST(31990.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [VariantId], [Price], [Quantity]) VALUES (75, 57, 4, 14, CAST(31990.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [VariantId], [Price], [Quantity]) VALUES (76, 58, 4, 14, CAST(31990.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [OrderId], [Method], [Status], [TxnId], [PaidAmount], [PaidAt], [ProviderRaw], [CreatedAt], [refundTxnId]) VALUES (45, 57, 1, 0, NULL, CAST(0.00 AS Decimal(12, 2)), NULL, NULL, CAST(N'2025-10-17T23:49:58.0000000' AS DateTime2), NULL)
INSERT [dbo].[Payments] ([Id], [OrderId], [Method], [Status], [TxnId], [PaidAmount], [PaidAt], [ProviderRaw], [CreatedAt], [refundTxnId]) VALUES (46, 58, 1, 0, NULL, CAST(0.00 AS Decimal(12, 2)), NULL, NULL, CAST(N'2025-10-17T23:51:19.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
INSERT [dbo].[ProductAttributeValues] ([ProductId], [AttributeId], [ValueText], [ValueNumber]) VALUES (1, 1, N'A16 Bionic', NULL)
INSERT [dbo].[ProductAttributeValues] ([ProductId], [AttributeId], [ValueText], [ValueNumber]) VALUES (1, 2, NULL, CAST(6.0000 AS Decimal(18, 4)))
INSERT [dbo].[ProductAttributeValues] ([ProductId], [AttributeId], [ValueText], [ValueNumber]) VALUES (1, 4, NULL, CAST(3349.0000 AS Decimal(18, 4)))
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (1, 1, N'products/iphone-15-black.webp')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (2, 1, N'products/iphone-15-blue.webp')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl]) VALUES (3, 1, N'products/iphone-15-green.webp')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Slug], [Description], [BasePrice], [Status], [CreatedAt], [UpdatedAt], [Sold]) VALUES (1, 3, N'iPhone 15', N'iphone-15', N'iPhone 15 (demo)', CAST(20000.00 AS Decimal(12, 2)), 1, CAST(N'2025-10-07T14:37:39.0000000' AS DateTime2), CAST(N'2025-10-07T14:37:39.0000000' AS DateTime2), 7)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Slug], [Description], [BasePrice], [Status], [CreatedAt], [UpdatedAt], [Sold]) VALUES (2, 3, N'iPhone 15 Pro', N'iphone-15-pro', N'iPhone 15 Pro (demo)', CAST(26000.00 AS Decimal(12, 2)), 1, CAST(N'2025-10-07T14:37:39.0000000' AS DateTime2), CAST(N'2025-10-21T21:26:43.0000000' AS DateTime2), 9)
INSERT [dbo].[Products] ([Id], [CategoryId], [Name], [Slug], [Description], [BasePrice], [Status], [CreatedAt], [UpdatedAt], [Sold]) VALUES (3, 4, N'iPhone 16', N'iphone-16', N'iPhone 16 (demo)', CAST(22000.00 AS Decimal(12, 2)), 1, CAST(N'2025-10-07T14:37:39.0000000' AS DateTime2), CAST(N'2025-10-07T14:37:39.0000000' AS DateTime2), 8)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'IP15-128-BLK', CAST(21990.00 AS Decimal(12, 2)), 1, CAST(N'2025-10-07T14:39:12.0000000' AS DateTime2), CAST(N'2025-10-07T14:39:12.0000000' AS DateTime2))
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 1, N'IP15-128-BLU', CAST(21990.00 AS Decimal(12, 2)), 1, CAST(N'2025-10-07T14:39:12.0000000' AS DateTime2), CAST(N'2025-10-07T14:39:12.0000000' AS DateTime2))
INSERT [dbo].[ProductVariants] ([Id], [ProductId], [SKU], [Price], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 1, N'IP15-256-BLK', CAST(24990.00 AS Decimal(12, 2)), 1, CAST(N'2025-10-07T14:39:12.0000000' AS DateTime2), CAST(N'2025-10-07T14:39:12.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewMedia] ON 

INSERT [dbo].[ReviewMedia] ([Id], [ReviewId], [MediaUrl], [MediaType], [SortOrder]) VALUES (3, 6, N'reviews/images/e0ee235e-7a33-415b-a19b-39ffa4385d83.webp', 1, 0)
SET IDENTITY_INSERT [dbo].[ReviewMedia] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [ProductId], [UserId], [Rating], [Content], [HasMedia], [PurchaseVerified], [Status], [CreatedAt]) VALUES (6, 2, 8, 4, N'đẹp', 1, 1, 1, CAST(N'2025-10-28T08:37:09.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Phone], [UserRole], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin@demo.test', N'$2a$10$RxiR6wmk/oqVjcSWAhnGF.NnlDJU/DUmYp8uSAmGXe4mGJfvOeNfe', N'Quản trị viên', N'0900000001', N'ADMIN', 1, CAST(N'2025-10-07T14:11:36.0000000' AS DateTime2), CAST(N'2025-10-07T14:11:36.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Phone], [UserRole], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'manager@demo.test', N'$2a$10$RxiR6wmk/oqVjcSWAhnGF.NnlDJU/DUmYp8uSAmGXe4mGJfvOeNfe', N'Nguyễn Thị B', N'09351108112', N'MANAGER', 1, CAST(N'2025-10-07T14:11:36.0000000' AS DateTime2), CAST(N'2025-10-24T10:44:06.0000000' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Phone], [UserRole], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'user@demo.test', N'$2a$10$RxiR6wmk/oqVjcSWAhnGF.NnlDJU/DUmYp8uSAmGXe4mGJfvOeNfe', N'Khách hàng A', N'0900000003', N'USER', 1, CAST(N'2025-10-07T14:11:36.0000000' AS DateTime2), CAST(N'2025-10-28T09:16:19.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTokens] ON 

INSERT [dbo].[UserTokens] ([Id], [UserId], [Type], [Token], [ExpiredAt], [UsedAt], [CreatedAt]) VALUES (1, 2, 2, N'420312', CAST(N'2025-10-16T10:10:24.0000000' AS DateTime2), NULL, CAST(N'2025-10-16T10:05:24.0000000' AS DateTime2))
INSERT [dbo].[UserTokens] ([Id], [UserId], [Type], [Token], [ExpiredAt], [UsedAt], [CreatedAt]) VALUES (2, 8, 2, N'621135', CAST(N'2025-10-18T13:42:16.0000000' AS DateTime2), CAST(N'2025-10-18T13:38:04.0000000' AS DateTime2), CAST(N'2025-10-18T13:37:17.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserTokens] OFF
GO
INSERT [dbo].[VariantOptions] ([VariantId], [OptionTypeId], [OptionValueId]) VALUES (1, 1, 1)
INSERT [dbo].[VariantOptions] ([VariantId], [OptionTypeId], [OptionValueId]) VALUES (2, 1, 1)
INSERT [dbo].[VariantOptions] ([VariantId], [OptionTypeId], [OptionValueId]) VALUES (9, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([Id], [Code], [DescText], [Type], [Value], [TotalUsed], [MaxUses], [StartsAt], [EndsAt], [IsActive]) VALUES (1, N'SALE10', N'Giảm 10% cho tất cả đơn hàng', 1, CAST(10.00 AS Decimal(12, 2)), 9, 500, CAST(N'2025-10-09T11:49:39.0000000' AS DateTime2), CAST(N'2025-11-15T11:49:39.0000000' AS DateTime2), 1)
INSERT [dbo].[Vouchers] ([Id], [Code], [DescText], [Type], [Value], [TotalUsed], [MaxUses], [StartsAt], [EndsAt], [IsActive]) VALUES (2, N'BLACKFRI', N'Giảm 20.000₫ dịp Black Friday', 2, CAST(20000.00 AS Decimal(12, 2)), 0, 100, CAST(N'2025-10-06T11:49:39.0000000' AS DateTime2), CAST(N'2025-12-26T11:49:39.0000000' AS DateTime2), 1)
INSERT [dbo].[Vouchers] ([Id], [Code], [DescText], [Type], [Value], [TotalUsed], [MaxUses], [StartsAt], [EndsAt], [IsActive]) VALUES (3, N'XMAS20', N'Giảm 20% dịp Giáng Sinh', 1, CAST(20.00 AS Decimal(12, 2)), 0, 300, CAST(N'2025-12-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Attribut__737584F6B70A0B6F]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[Attributes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_CartItems_Unique]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CartItems_Unique] ON [dbo].[CartItems]
(
	[CartId] ASC,
	[ProductId] ASC,
	[VariantId] ASC
)
WHERE ([VariantId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carts_User]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Carts_User] ON [dbo].[Carts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__BC7B5FB681816D82]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_Parent]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Categories_Parent] ON [dbo].[Categories]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryAttributes_Attr]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryAttributes_Attr] ON [dbo].[CategoryAttributes]
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__OptionTy__A25C5AA79D510183]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[OptionTypes] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_Order]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_Order] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_User_Status]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_User_Status] ON [dbo].[Orders]
(
	[UserId] ASC,
	[OrderStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Payments__C3905BCECDB9A640]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Order]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Order] ON [dbo].[Payments]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Status]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Status] ON [dbo].[Payments]
(
	[Status] ASC,
	[Method] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Payments_Method_Txn]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Payments_Method_Txn] ON [dbo].[Payments]
(
	[Method] ASC,
	[TxnId] ASC
)
WHERE ([TxnId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAttr_AttrId]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAttr_AttrId] ON [dbo].[ProductAttributeValues]
(
	[AttributeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductImages_Prod]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductImages_Prod] ON [dbo].[ProductImages]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__BC7B5FB6667F8D11]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_Cat_Status]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Products_Cat_Status] ON [dbo].[Products]
(
	[CategoryId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductV__CA1ECF0DC4F532EB]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[ProductVariants] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Variants_Prod_Status]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Variants_Prod_Status] ON [dbo].[ProductVariants]
(
	[ProductId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_Product]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_Product] ON [dbo].[Reviews]
(
	[ProductId] ASC,
	[Status] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534479A2A0A]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserToke__1EB4F817C5E1C359]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[UserTokens] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTokens_Type_Exp]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserTokens_Type_Exp] ON [dbo].[UserTokens]
(
	[Type] ASC,
	[ExpiredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VO_Variant_Value]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[VariantOptions] ADD  CONSTRAINT [UQ_VO_Variant_Value] UNIQUE NONCLUSTERED 
(
	[VariantId] ASC,
	[OptionValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VO_TypeValue]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_VO_TypeValue] ON [dbo].[VariantOptions]
(
	[OptionTypeId] ASC,
	[OptionValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VO_Variant]    Script Date: 10/28/2025 7:15:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_VO_Variant] ON [dbo].[VariantOptions]
(
	[VariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vouchers__A25C5AA73A321075]    Script Date: 10/28/2025 7:15:49 PM ******/
ALTER TABLE [dbo].[Vouchers] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses] ADD  CONSTRAINT [DF_Addresses_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branch_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branch_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Branches] ADD  CONSTRAINT [DF_Branch_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BranchInventory] ADD  DEFAULT ((0)) FOR [BranchStock]
GO
ALTER TABLE [dbo].[CategoryAttributes] ADD  CONSTRAINT [DF_CatAttr_Filter]  DEFAULT ((1)) FOR [IsFilterable]
GO
ALTER TABLE [dbo].[CategoryAttributes] ADD  CONSTRAINT [DF_CatAttr_Compare]  DEFAULT ((1)) FOR [IsComparable]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ((0)) FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PayStatus]  DEFAULT ((0)) FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Disc]  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Ship]  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  CONSTRAINT [DF_Payments_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Sold]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_Variants_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_Variants_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_Variants_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ReviewMedia] ADD  CONSTRAINT [DF_ReviewMedia_Sort]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_HasMedia]  DEFAULT ((0)) FOR [HasMedia]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_Ver]  DEFAULT ((0)) FOR [PurchaseVerified]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserTokens] ADD  CONSTRAINT [DF_UserTokens_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vouchers] ADD  CONSTRAINT [DF_Vouchers_TotalUses]  DEFAULT ((0)) FOR [TotalUsed]
GO
ALTER TABLE [dbo].[Vouchers] ADD  CONSTRAINT [DF_Vouchers_MaxUses]  DEFAULT ((1000)) FOR [MaxUses]
GO
ALTER TABLE [dbo].[Vouchers] ADD  CONSTRAINT [DF_Vouchers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Users]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_Branches_Managers] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_Branches_Managers]
GO
ALTER TABLE [dbo].[BranchInventory]  WITH CHECK ADD  CONSTRAINT [FK_BI_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BranchInventory] CHECK CONSTRAINT [FK_BI_Branch]
GO
ALTER TABLE [dbo].[BranchInventory]  WITH CHECK ADD  CONSTRAINT [FK_BI_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BranchInventory] CHECK CONSTRAINT [FK_BI_Variant]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CI_Cart] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CI_Cart]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CI_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CI_Product]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CI_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CI_Variant]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_User]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Parent] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Parent]
GO
ALTER TABLE [dbo].[CategoryAttributes]  WITH CHECK ADD  CONSTRAINT [FK_CatAttr_Attribute] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryAttributes] CHECK CONSTRAINT [FK_CatAttr_Attribute]
GO
ALTER TABLE [dbo].[CategoryAttributes]  WITH CHECK ADD  CONSTRAINT [FK_CatAttr_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryAttributes] CHECK CONSTRAINT [FK_CatAttr_Category]
GO
ALTER TABLE [dbo].[OptionValues]  WITH CHECK ADD  CONSTRAINT [FK_OptionValues_Type] FOREIGN KEY([OptionTypeId])
REFERENCES [dbo].[OptionTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OptionValues] CHECK CONSTRAINT [FK_OptionValues_Type]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OI_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OI_Order]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OI_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OI_Product]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OI_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OI_Variant]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Branches] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Branches]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Order]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_PAttr_Attribute] FOREIGN KEY([AttributeId])
REFERENCES [dbo].[Attributes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_PAttr_Attribute]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_PAttr_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_PAttr_Product]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_Images_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_Images_Product]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_Variants_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_Variants_Product]
GO
ALTER TABLE [dbo].[ReviewMedia]  WITH CHECK ADD  CONSTRAINT [FK_ReviewMedia_Review] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Reviews] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewMedia] CHECK CONSTRAINT [FK_ReviewMedia_Review]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Product]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_User]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_User]
GO
ALTER TABLE [dbo].[VariantOptions]  WITH CHECK ADD  CONSTRAINT [FK_VO_Type] FOREIGN KEY([OptionTypeId])
REFERENCES [dbo].[OptionTypes] ([Id])
GO
ALTER TABLE [dbo].[VariantOptions] CHECK CONSTRAINT [FK_VO_Type]
GO
ALTER TABLE [dbo].[VariantOptions]  WITH CHECK ADD  CONSTRAINT [FK_VO_Value] FOREIGN KEY([OptionValueId])
REFERENCES [dbo].[OptionValues] ([Id])
GO
ALTER TABLE [dbo].[VariantOptions] CHECK CONSTRAINT [FK_VO_Value]
GO
ALTER TABLE [dbo].[VariantOptions]  WITH CHECK ADD  CONSTRAINT [FK_VO_Variant] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VariantOptions] CHECK CONSTRAINT [FK_VO_Variant]
GO
ALTER TABLE [dbo].[Attributes]  WITH CHECK ADD CHECK  (([DataType]=(3) OR [DataType]=(2) OR [DataType]=(1)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Rating]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([UserRole]='ADMIN' OR [UserRole]='MANAGER' OR [UserRole]='USER'))
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [CK_Vouchers_Date] CHECK  (([EndsAt]>[StartsAt]))
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [CK_Vouchers_Date]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [CK_Vouchers_Type] CHECK  (([Type]=(3) OR [Type]=(2) OR [Type]=(1)))
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [CK_Vouchers_Type]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [CK_Vouchers_Value] CHECK  (([Value]>(0)))
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [CK_Vouchers_Value]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAttributesByCategory]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAttributesByCategory]
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH RecursiveParents AS (
        SELECT Id
        FROM dbo.Categories
        WHERE Id = @CategoryId
        UNION ALL
        SELECT c.ParentId
        FROM dbo.Categories c
        JOIN RecursiveParents rp ON c.Id = rp.Id
        WHERE c.ParentId IS NOT NULL
    )
    SELECT DISTINCT a.Id, a.Name, a.DataType, a.Unit
    FROM dbo.CategoryAttributes ca
    JOIN dbo.Attributes a ON ca.AttributeId = a.Id
    WHERE ca.CategoryId IN (SELECT Id FROM RecursiveParents)
    ORDER BY a.Name;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetChildCategories]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Lấy toàn bộ Category con trực tiếp từ một ParentId cho trước
CREATE PROCEDURE [dbo].[sp_GetChildCategories]
    @ParentId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, [Name], Slug, ParentId
    FROM dbo.Categories
    WHERE ParentId = @ParentId
    ORDER BY [Name];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOptionsByProduct]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Lấy danh sách Options theo ProductId
CREATE PROCEDURE [dbo].[sp_GetOptionsByProduct]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT 
        ot.Id          AS OptionTypeId,
        ot.Code        AS OptionTypeCode,
        ov.Id          AS OptionValueId,
        ov.[Value]     AS OptionValue
    FROM dbo.ProductVariants v
    JOIN dbo.VariantOptions vo ON v.Id = vo.VariantId
    JOIN dbo.OptionTypes ot    ON vo.OptionTypeId = ot.Id
    JOIN dbo.OptionValues ov   ON vo.OptionValueId = ov.Id
    WHERE v.ProductId = @ProductId
      AND v.[Status] = 1
    ORDER BY ot.Code, ov.[Value];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductsByCategory]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure lấy danh sách Products theo Category
CREATE PROCEDURE [dbo].[sp_GetProductsByCategory]
    @CategoryId INT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH RecursiveCats AS (
        SELECT Id
        FROM dbo.Categories
        WHERE Id = @CategoryId
        UNION ALL
        SELECT c.Id
        FROM dbo.Categories c
        JOIN RecursiveCats rc ON c.ParentId = rc.Id
    )
    SELECT p.Id, p.Name, p.Slug, p.BasePrice, p.Status, c.Name AS CategoryName
    FROM dbo.Products p
    JOIN dbo.Categories c ON p.CategoryId = c.Id
    WHERE p.CategoryId IN (SELECT Id FROM RecursiveCats);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRootCategories]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Lấy danh sách Root Category
CREATE PROCEDURE [dbo].[sp_GetRootCategories]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, [Name], Slug
    FROM dbo.Categories
    WHERE ParentId IS NULL
    ORDER BY [Name];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVariantsByProduct]    Script Date: 10/28/2025 7:15:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetVariantsByProduct]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT v.Id AS VariantId,
           v.SKU,
           v.Price,
           STRING_AGG(ot.Code + '=' + ov.[Value], ', ') AS Options
    FROM dbo.ProductVariants v
    JOIN dbo.VariantOptions vo ON v.Id = vo.VariantId
    JOIN dbo.OptionTypes ot    ON vo.OptionTypeId = ot.Id
    JOIN dbo.OptionValues ov   ON vo.OptionValueId = ov.Id
    WHERE v.ProductId = @ProductId
      AND v.[Status] = 1
    GROUP BY v.Id, v.SKU, v.Price
    ORDER BY v.Price;
END;
GO
USE [master]
GO
